.footer {
  background: $clr-secondary;
  grid-column: full-s / full-e;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  gap: 2rem;

  &__link:link,
  &__link:visited {
    display: block;
    text-decoration: none;
    font-family: $ff-display;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;

    text-align: center;
    padding: 1.5rem;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active,
  &__link:focus {
    background: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $clr-grey-light-2;
  margin: 6rem auto 0 auto;
  text-align: center;
  width: 70%;
}
